BOSAGORA_MAIN_NET_URL=https://mainnet.bosagora.org
BOSAGORA_TEST_NET_URL=https://testnet.bosagora.org
ETHEREUM_URL=https://eth.llamarpc.com
SEPOLIA_URL=https://eth-sepolia.public.blastapi.io
URL_STANDALONE=http://localhost:8545

ETHERSCAN_API_KEY=

DEPLOYER_ADDRESS=

